<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>610010711984-c1evjf8sr5v9qblojvr6l31n0q9mhdj4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.610010711984-c1evjf8sr5v9qblojvr6l31n0q9mhdj4</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>610010711984-lpicuoll910viflc10gbjskbernrft1m.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDeV68K_ujjezzQNMmCG3-LZe1aeHCsEZI</string>
	<key>GCM_SENDER_ID</key>
	<string>610010711984</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aialchemists.dishaSaathi</string>
	<key>PROJECT_ID</key>
	<string>disha-saathi</string>
	<key>STORAGE_BUCKET</key>
	<string>disha-saathi.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:610010711984:ios:e8dc218f1b5d8a8ae43875</string>
</dict>
</plist>
